
.banner{
    margin:20px;
}
.banner .photo{
    position:relative;
    height: 800px;
}
.banner .photo img{
    margin-top:20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:30% 30%;
}
.banner .text{
    position: absolute;
    bottom:50px;
    right: 100px;
    color: white;
}
.banner .text h1{
    font-size: 70px;
}
.banner .text p{
font-size: 20px;
}